@{
    ViewData["Title"] = "Home Page";
}

<!-- main -->

<div class="center-container">

	<div class="w3ls_banner_info">


		<h1>Yunus TEZ</h1>
		<div class="profile">
			<div class="wrap">
				<div class="profile-main">
					<div class="profile-pic wthree">
						<img src="~/assets/images/pp.jpg" width="150" height="200" alt="">
						<h3>Junior Developer</h3>
						<div class="w3ls-agile-left">
							<!---728x90--->

							<ul class="address">
								<li>
									<ul class="address-text">
										<li><b>Cinsiyet </b></li>
										<li>: </li>
										<li> <span class="w3">Erkek</span></li>
									</ul>
								</li>

								<li>
									<ul class="address-text">
										<li><b>Doğum Tarihi </b></li>
										<li>: </li>
										<li> <span class="w3">24-04-1999</span></li>
									</ul>
								</li>
								<li>
									<ul class="address-text">
										<li><b>Telefon </b></li>
										<li>: </li>
										<li> <span class="w3">+542 542 4242</span></li>
									</ul>
								</li>
								<li>
									<ul class="address-text">
										<li><b>Adres </b></li>
										<li>: </li>
										<li> <span class="w3">Ümraniye / İstanbul </span></li>
									</ul>
								</li>
								<li>
									<ul class="address-text">
										<li><b>Git </b></li>
										<li>: </li>
										<li><a href="https://github.com/yunus42tez" target="_blank"><span class="w3">yunus42tez</span></a></li>
									</ul>
								</li>
								<li>
									<ul class="address-text">
										<li><b>E-Posta </b></li>
										<li>: </li>
										<li><a href="mailto:yunus42tez@hotmail.com" target="_blank"> <span class="w3">tikla@example.com</span></a></li>
									</ul>
								</li>

							</ul>
							<div class="clear"></div>
						</div>

					</div>

					<div class="profile-ser">
						<h4>Yeteneklerim</h4>
						<div class="awards-agileinfo  w3ls-section">
							<div class="awardsw3-agileits banner-agileinfo">
								<div class="container">
									<div class="w3ls_banner_bottom_grids">
										<div class=" w3ls_about_guage">
											<div class="demo">

												<div class="demo-1" data-percent="90"></div>
												<h4>HTML</h4>
											</div>
										</div>
										<div class=" w3ls_about_guage">
											<div class="demo">

												<div class="demo-1" data-percent="75"></div>
												<h4>CSS</h4>
											</div>
										</div>
										<div class=" w3ls_about_guage">
											<div class="demo">

												<div class="demo-1" data-percent="73"></div>
												<h4>JQuery</h4>
											</div>
										</div>
										<div class="clear"> </div>
									</div>
								</div>
							</div>

						</div>
						<!-- //Awards-->

					</div>
					<div class="clear"> </div>
					<div class="profile-follows">

						<div class="follow-btn">
							<h3>Follow Me On :</h3>
						</div>
						<div class="follow">
							<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><i class="fab fa-facebook-f"></i></a>
							<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank"><i class="fab fa-google-plus-g"></i></a>

						</div>
					</div>
				</div>
			</div>
		</div>






		<!--footer-->
		<div class="footer-w3">
			<p> 2023 Tüm Hakları Saklıdır | Design by Yunus TEZ</p>
		</div>
		<!--//footer-->

	</div>
</div>
